body {
    font-family: Arial;
    background: #760404;
    color: rebeccapurple;
    text-align: center;
}

.movie-card {
    background: goldenrod;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
}

.action {
    border: 2px solid plum;
}

.comedy {
    border: 2px solid peachpuff;
}

img {
    width: 100%;
    border-radius: 12px;
}


